#ccc {
  height: 75%;
  border-style: ridge none;
}

#aaa {
  height: 75%;
  border-style: ridge;
}

#bbb {
  height: 75%;
  border-style: ridge none;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
  color: blue;
}

#outputofgooglelens {
  background-color: white;
  border-radius: 5px;
}

#outputofmobilenet {
  background-color: white;
  border-radius: 5px;
}

canvas {
  margin-right: 33%;
}